{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block body %}
<h1>Welcome to profile</h1>
<h1>Hello {{user}}</h1>
{% if messages %}
{% for m in messages %}
<p><strong class="bg-success p-3 text-white" {% if m.tags %} class="{{m.tags}}" {% endif %}>{{m}}</strong></p>
{% endfor %}
{% endif %}
<p><a class="btn btn-info" href="{% url 'pass_change' %}">Change Your Password</a></p>
<p><a class="btn btn-info" href="{% url 'pass_change2' %}">Change Your Password Without Old Password</a></p>

<form method="post" action="" style="width:50%; margin:auto;" novalidate>
     {% csrf_token %}
      {{form|crispy}}
    <button class="btn btn-primary mt-3" type="submit">Change Data</button>
</form>
{% endblock %}